### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
__pycache__/
data_input/
data_output/
appl_params/
databases/
#Testing Output folder
.output/
**/*.csv
**/*.txt
**/*.log